# My Jupyter Notebook on IBM Watson Studio

**Name: D.S.Ramakant Raju**

Desired Occupation: preferrably some data science-y role in a company that doesn't shut itself down

_I used to feel that I was pretty good at Maths. Gradually I started doubted the people I surround myself with. 
Then I signed up to study Machine learning. Now I'm convinced I suck at this. 
Therefore that's a challenge I'm going to take up to try and un-suck.
While at it, I hope to get richer. Ha!_

_Confession time: I hate snakes. Each time I listen to the word python, a brain cell dies of shock_

### The code below is supposed to find sum of first `n` numbers in two different ways

In [8]:
#this function copied from course instructions because i'm not that smart

def gauss(n):
    return (n*(n+1))/2
gauss(100)

5050.0

In [10]:
range(101)

range(0, 101)

In [3]:
sum(range(101))

5050

In [4]:
gauss(100)==sum(range(101))

True

I have surprised myself in the previous cells since it is practically the very first lines of python I have ever written in my life. 
More text follows this horizontal line

***
Adventerous friends within my network have attempted to go scuba-diving in the Maldives or snow-boarding in the Alps. Given I am neither physically nor fiscally fit for such escapades, there is another equally daring adventure I attempted this year... I made my own website using Rstudio --> [Click this link](https://www.ds-ramakant.com/)

The entire website was written by customsing Hugo template (Wowchemy), pushing onto Github and hosted via Netlify. Groovy nah? 

![alt text](https://i.vgy.me/RFQVa4.gif "IMAGE IS NOW EMBEDDED")